@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamBold.ttf');
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamMedium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamLight.ttf');
     font-weight: 400;
     font-style:normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamBook.ttf');
     font-weight: 300;
     font-style:normal;
}


.bold {
    font-weight: 600;
}
.normal {
    font-weight: 500;
}
.light {
    font-weight: 300;
}
.book {
    font-weight: 200;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

.BackgroundGradient {
    height: 100%;
    width: 100%;

    background-image: linear-gradient(#6bdaff, #ff89c4);
    background-repeat:no-repeat;
}

.TextShadowBig {
    text-shadow: 2px 2px 3px #878787
}

.TextShadowSmall {
    text-shadow: 1px 1px 2px #878787
}

.center {
    justify-content: center;
    text-align: center;
}

.button {
    color: #6e6e6e;
    margin: auto;
    width: 40%;
    border:none;
    border-radius: 12px;
    padding: 6px;
    text-shadow: 1px 1px 2px #C0C0C0;
    box-shadow: 1px 1px 8px #878787;
    background-image: linear-gradient(#ff95f4, #99d7f5);
}