/* FONTS */

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamBold.ttf');
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamMedium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamLight.ttf');
     font-weight: 400;
     font-style:normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamBook.ttf');
     font-weight: 300;
     font-style:normal;
}

.TextBold {
    font-weight: 600;
}
.TextNormal {
    font-weight: 500;
}
.TextLight {
    font-weight: 300;
}
.TextBook {
    font-weight: 200;
}


/* ANIMĀCIJU KEYFRAMES */


/* CLASS CSS */


html,
body {
    overflow: hidden;
    box-sizing: border-box;
    background-repeat:no-repeat;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#c1efff,#ffb7db);
}

.TextShadowBig {
    text-shadow: 2px 2px 3px #c2c2c2
}

.TextShadowSmall {
    text-shadow: 1px 1px 2px #b5b5b5
}

.center {
    justify-content: center;
    text-align: center;
}

.NoOutline {
    outline: none;
    border:none;
    color: #ffffff;
}

.button {
    width: 30vmax;
    border-radius: 5vmax;
    border-bottom: 50%;
    position: relative;
    top: 0px;
    padding: 6px;
    filter: brightness(1);
    filter: sepia(0);
    text-shadow: 1px 1px 4px #d1cfcf;
    box-shadow: 1px 1px 8px #bdbdbd;
    background-image: linear-gradient(#fcccff, #c1ebff);
    transition: 0.2s;
}

.button:hover {
    position: relative;
    top: -4px;
    filter: brightness(1.02);
    filter: sepia(0.05);
    box-shadow: 0px 2px 9px #c4c4c4;
    border-bottom: 20px;
    transition: 0.2s;
    cursor: pointer;
}

.button:active {
    transform: scale(1.05);
    box-shadow: 0px 3px 10px #bbbbbb;
}

.WaveStyle {
    background-repeat: repeat-y;
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%,50%);
    stroke: none;
    fill: #fff7f7;
    filter: drop-shadow(0px 0px 15px #d1d1d1);
}

.TextInput {
    color: #ffffff;
}

.InvalidInputShake {
    animation: ShakeLeftRight 1.5s;
    animation-iteration-count: 1; 
}


/* SPECIFIC ELEMENT ID CSS */

#CreateNewTask {
    max-width: 300px;
    font-size: 115%;
}

#PopUpBackground {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #00000021;
}

#PopUpFrame {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 425px;
    height: 500px;
    border-radius: 17px;
    box-shadow: 1px 1px 8px #d0d0d0;
    background-image: linear-gradient(#fddfff, #d5f2ff);
    transition: 0.1s;
    overflow: hidden;  /* šitais ir tam vilnim apakšā lai neredz to ārpus popup loga. */
}

#SmallWave {
    position: fixed;
    width: 100%;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%,50%);
    stroke: none;
    fill: #fff7f7;
    filter: drop-shadow(0px 0px 15px #d1d1d1);
}

#PopUpCloseButton {
    position:fixed;
    top: 0px;
    width: 75px;
    border-radius: 5vmax;
    margin: 13px;
    right: 1px;
    padding: 7px;
    filter: brightness(1);
    filter: sepia(0);
    text-shadow: 1px 1px 4px #d1cfcf;
    box-shadow: 1px 1px 8px #d0d0d0;
    background-image: linear-gradient(#fcccff, #c1ebff);
    transition: 0.2s;
}

#PopUpCloseButton:hover {
    top: -2px;
    filter: brightness(1.02);
    filter: sepia(0.05);
    box-shadow: 0px 2px 9px #d0d0d0;
    transition: 0.2s;
    cursor: pointer;
}

#PopUpCloseButton:active {
    transform: scale(1.2);
    box-shadow: 0px 3px 10px #bbbbbb;
}

#PopUpHeaderText {
    color: #ffffff;
    font-size: 26px;
    margin: 15px;
}

#PopUpFormFrame {
    position: absolute;
    display: block;
    width: 400px;
    margin-top: 57px;
    margin-left: 15px;
}

#PopUpFormFrame label  {
    color: #ffffff;
    font-size: 21px;
    font-weight: 530;
}

#PopUpFormFrame textarea,
#PopUpFormFrame input {
    position: relative;
    outline: none;
    border: none;
    margin-top: 7px;
    margin-bottom: 7px;
    border-bottom: 3.5px solid #fee4ff;
    border-radius: 13px;
    box-shadow: 0px 2px 7px #cacaca ;
    color: #edcbf0d9;
    font-size: 17px;
    padding: 0px 10px 0px 12px;
    resize: none;
}

#SubmitButton {
    z-index: 3;
    width: 50%;
    height: 35px;
    margin: 0;
    position:fixed;
    top: 80%;
    left: 25%;
    border-radius: 5vmax;
    filter: brightness(1);
    filter: sepia(0);
    text-shadow: 1px 1px 4px #d1cfcf;
    box-shadow: 1px 1px 8px #b3b3b3;
    background-image: linear-gradient(#fcccff, #c1ebff);
    font-size: 17px;
    transition: 0.2s;
}

#SubmitButton:hover {
    position: absolute;
    top: 79%;
    filter: brightness(1.02);
    filter: sepia(0.05);
    box-shadow: 0px 2px 9px #d0d0d0;
    transition: 0.2s;
    cursor: pointer;
}

#SubmitButton:active {
    position: absolute;
    top: 78.2%;
    transform: scale(1.2);
    box-shadow: 0px 3px 10px #bbbbbb;
}

#TaskName {
    width: 250px;
    height: 23px;
}

#TaskName {
    width: 250px;
}

#TaskDescription {
    width: 325px;
    height: 125px;
    
}

::placeholder {     /* teksta laukos placeholder texts */
    color: #4f385243;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-calendar-picker-indicator {
    display: none;
}

#TasksFrame {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 25px;
    width: 100%;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 15px #d3d3d3;
    overflow-y: scroll;
}

#TaskPreset {
    position: absolute;
    margin: 16px 16px 16px 16px;
    padding: 13px;
    width: 150px;
    height: 200px;
    border-radius: 13px;
    box-shadow: 0px 3px 15px #bfbfbf;
    background-image: linear-gradient(#c8e1eb, #eacdec);
}

@keyframes ShakeLeftRight {
    0% { transform:translate(-1.75px, 0);}
    20% { transform:translate(1.75px, 0);}
    40% { transform:translate(-1.75px, 0);}
    60% { transform:translate(1.75px, 0);}
    80% { transform:translate(-1.75px, 0);}
    100% { transform:translate(1.75px, 0);}
}
